:root{
    --dark-red:#981a2c;
}

.container{
    border: 1px solid brown;
    background-color: red;
    height: 300px;
    width: 300px;

    background-color: var(--dark-red);
}

.box{
    background-color: aqua;
    border: 2px solid green;
    /* color: #981a2c; */

    --dark-red:#981a2c;
    color: var(--dark-red);
}